@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: futura-pt, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} */

@property --x {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

/* .div1 {
  background-image: radial-gradient(
    circle at 200px 200px,
    transparent 50px,
    rgba(0, 0, 0, 1) 100px
  );
  animation: colorChange 5s infinite;
  -webkit-animation: colorChange 5s infinite;
}

@keyframes colorChange {
  0% {
    background-image: radial-gradient(
      circle at 200px 200px,
      transparent 50px,
      rgba(0, 0, 0, 1) 100px
    );
  }
  100% {
    background-image: radial-gradient(
      circle at 400px 400px,
      transparent 50px,
      rgba(0, 0, 0, 1) 100px
    );
  }
} */

.div2 {
  background-image: radial-gradient(
    circle at 200px 200px,
    transparent 50px,
    rgba(0, 0, 0, 1) 100px
  );
}

.div3 {
  background-image: radial-gradient(
    circle at 200px 200px,
    transparent 50px,
    rgba(0, 0, 0, 1) 100px
  );
}
